.page-account {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    background-color: transparent;

    &-container {
        flex: 1;
        padding: 32px 0;
        text-align: center;
        width: 384px;
        margin: 0 auto;

        &-result {
            width: 100%;
        }

        @media screen and (max-width: @screen-sm) {
            width: 95%;
        }
    }

    &-tabs {
        .ivu-tabs-bar {
            border-bottom: none;
        }

        .ivu-tabs-nav-scroll {
            text-align: center;
        }

        .ivu-tabs-nav {
            display: inline-block;
            float: none;
        }
    }

    &-top {
        padding: 32px 0;

        &-logo {
            img {
                height: 75px;
            }
        }

        &-desc {
            font-size: @font-size-base;
            color: @subsidiary-color;
        }
    }

    &-auto-login {
        margin-bottom: 24px;
        text-align: left;

        a {
            float: right;
        }
    }

    &-other {
        margin: 24px 0;
        text-align: left;

        span {
            font-size: @font-size-base;
        }

        img {
            width: 24px;
            margin-left: 16px;
            cursor: pointer;
            vertical-align: middle;
            opacity: 0.7;
            transition: all @transition-time @ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }

    .ivu-poptip,
    .ivu-poptip-rel {
        display: block;
    }

    &-register {
        float: right;

        &-tip {
            text-align: left;

            &-low {
                color: @error-color;
            }

            &-medium {
                color: @warning-color;
            }

            &-strong {
                color: @success-color;
            }

            &-title {
                font-size: @font-size-base;
            }

            &-desc {
                white-space: initial;
                font-size: @font-size-base;
                margin-top: 6px;
            }
        }
    }

    &-to-login {
        text-align: center;
        margin-top: 16px;
    }

    &-header {
        height: 70px;
        display: flex;
        justify-content: space-around;
        line-height: 70px;
        .project {
            display: flex;
            align-items: center;
            span {
                width: 382px;
                height: 23px;
                font-size: 24px;
                font-family: PingFang SC;
                font-weight: 400;
                color: #fff;
                margin-left: 24px;
            }
        }
    }
    .login {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
        padding: 0 28px 28px 28px;
        text-align: left;
        .login-title {
            height: 100px;
            font-size: 22px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #333333;
            line-height: 100px;

        }
        .ivu-login-submit{
            
        }
    }

    .ivu-login {
        background-color: #fff;
        
    }
    .page-account-container {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .ivu-input{
        background-color: #fff;
        border-color: #dcdfe6;
        &::-webkit-input-placeholder{
            color: #dcdfe6;
        }
    }
    
}

@media (min-width: @screen-md-min) {
    .page-account {
        background-image: url('../../assets/images/loginBp2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
    }

    .page-account-container {
        padding: 32px 0 24px 0;
    }
}