@font-face {
  font-family: "icon-v5"; /* Project id 3235972 */
  src: url('iconfont.eot?t=1655965649649'); /* IE9 */
  src: url('iconfont.eot?t=1655965649649#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1655965649649') format('woff2'),
       url('iconfont.woff?t=1655965649649') format('woff'),
       url('iconfont.ttf?t=1655965649649') format('truetype'),
       url('iconfont.svg?t=1655965649649#icon-v5') format('svg');
}

.icon-v5 {
  font-family: "icon-v5" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-v5-loading-full:before {
  content: "\e987";
}

.icon-v5-fanwei:before {
  content: "\e693";
}

.icon-v5-edinggongshuai:before {
  content: "\e694";
}

.icon-v5-dianyuandianya:before {
  content: "\ea32";
}

.icon-v5-yougong:before {
  content: "\e695";
}

.icon-v5-pingshi:before {
  content: "\e68f";
}

.icon-v5-fengshi:before {
  content: "\e690";
}

.icon-v5-gushi:before {
  content: "\e691";
}

.icon-v5-shezhi1:before {
  content: "\e68d";
}

.icon-v5-jingyin_volume-mute:before {
  content: "\e68a";
}

.icon-v5-shengyin-da_volume-notice:before {
  content: "\e68b";
}

.icon-v5-quanjufangda1_full-screen-one:before {
  content: "\e68c";
}

.icon-v5-tixing_remind:before {
  content: "\e68e";
}

.icon-v5-fenshiduandianliang1:before {
  content: "\e689";
}

.icon-v5-dianliangbaobiao:before {
  content: "\e686";
}

.icon-v5-fenshiduandianliang:before {
  content: "\e687";
}

.icon-v5-dianjiapeizhi:before {
  content: "\e688";
}

.icon-v5-ziyuanguanli-simkaguanli:before {
  content: "\e685";
}

.icon-v5-qingchu:before {
  content: "\e88a";
}

.icon-v5-shezhi:before {
  content: "\e684";
}

.icon-v5-xiugai:before {
  content: "\e8cf";
}

.icon-v5-banshou:before {
  content: "\e6b9";
}

.icon-v5-xiangyou:before {
  content: "\e775";
}

.icon-v5-xiangzuo:before {
  content: "\eb15";
}

.icon-v5-zhanghaoyongdiangaikuang:before {
  content: "\e683";
}

.icon-v5-huifu:before {
  content: "\e682";
}

.icon-v5-dunsys:before {
  content: "\e681";
}

.icon-v5-xiaoyin:before {
  content: "\e680";
}

.icon-v5-zhongzhi1:before {
  content: "\e6b0";
}

.icon-v5-shouqi2-01:before {
  content: "\e67d";
}

.icon-v5-shouqi-01-copy:before {
  content: "\e67f";
}

.icon-v5-daochu1:before {
  content: "\e67c";
}

.icon-v5-shanchu2:before {
  content: "\e67b";
}

.icon-v5-xiaoxi1:before {
  content: "\e67a";
}

.icon-v5-nenghaoduibi:before {
  content: "\e66c";
}

.icon-v5-nenghaogongshi:before {
  content: "\e66e";
}

.icon-v5-nenghaobaobiao:before {
  content: "\e66f";
}

.icon-v5-nenghaozonglan:before {
  content: "\e670";
}

.icon-v5-nenghaotongji:before {
  content: "\e671";
}

.icon-v5-nenghaofenxi:before {
  content: "\e672";
}

.icon-v5-nenghaoqushi:before {
  content: "\e673";
}

.icon-v5-shezhiquyuguanxi:before {
  content: "\e675";
}

.icon-v5-nenghaoguanli:before {
  content: "\e676";
}

.icon-v5-nenghaotongbi:before {
  content: "\e677";
}

.icon-v5-jienengfangan:before {
  content: "\e679";
}

.icon-v5-daochu:before {
  content: "\e66b";
}

.icon-v5-xiazai:before {
  content: "\e66d";
}

.icon-v5-dianhubaojing1:before {
  content: "\e64a";
}

.icon-v5-changjingkongzhi:before {
  content: "\e64b";
}

.icon-v5-dianliang1:before {
  content: "\e64c";
}

.icon-v5-fenhezha:before {
  content: "\e64d";
}

.icon-v5-fenzukongzhi:before {
  content: "\e64e";
}

.icon-v5-duanlubaojing1:before {
  content: "\e64f";
}

.icon-v5-guoliuguozai1:before {
  content: "\e651";
}

.icon-v5-dingshipeizhi1:before {
  content: "\e652";
}

.icon-v5-guoqianya1:before {
  content: "\e653";
}

.icon-v5-gongdanguanli1:before {
  content: "\e654";
}

.icon-v5-kongzhiqingdan:before {
  content: "\e655";
}

.icon-v5-loudianbaojing1:before {
  content: "\e656";
}

.icon-v5-piliangpeizhi1:before {
  content: "\e657";
}

.icon-v5-fuzai1:before {
  content: "\e658";
}

.icon-v5-loubaozijian1:before {
  content: "\e659";
}

.icon-v5-jingweidingshi1:before {
  content: "\e65a";
}

.icon-v5-quanbubaojing1:before {
  content: "\e65b";
}

.icon-v5-liandongkongzhi:before {
  content: "\e65c";
}

.icon-v5-shebeiliebiaoyukongzhi1:before {
  content: "\e65d";
}

.icon-v5-loudianliu1:before {
  content: "\e65e";
}

.icon-v5-wendubaojing1:before {
  content: "\e65f";
}

.icon-v5-tuoputu1:before {
  content: "\e660";
}

.icon-v5-yichangzhuangtaijiancepeizhi1:before {
  content: "\e663";
}

.icon-v5-shebeigaikuang1:before {
  content: "\e664";
}

.icon-v5-tongjibaogao:before {
  content: "\e666";
}

.icon-v5-xiangmuzhuye1:before {
  content: "\e667";
}

.icon-v5-yichangzhuangtai1:before {
  content: "\e668";
}

.icon-v5-sanxiangbaojing1:before {
  content: "\e669";
}

.icon-v5-wendu2:before {
  content: "\e66a";
}

.icon-v5-jiesuo1:before {
  content: "\e649";
}

.icon-v5-jiesuo:before {
  content: "\e63f";
}

.icon-v5-mianxingdianjitubiao:before {
  content: "\e640";
}

.icon-v5-shoudongkaifa:before {
  content: "\e641";
}

.icon-v5-upload-images:before {
  content: "\e642";
}

.icon-v5-refresh:before {
  content: "\e643";
}

.icon-v5-tuokouzhuangtai:before {
  content: "\e644";
}

.icon-v5-jinhuochaxun:before {
  content: "\e646";
}

.icon-v5-chaobiao:before {
  content: "\e648";
}

.icon-v5-weiwancheng:before {
  content: "\e6a9";
}

.icon-v5-wancheng:before {
  content: "\e63d";
}

.icon-v5-shalou1:before {
  content: "\e63a";
}

.icon-v5-xiangmuzhuye:before {
  content: "\e63e";
}

.icon-v5-kongzhitai-:before {
  content: "\e63c";
}

.icon-v5-jinggao:before {
  content: "\e63b";
}

.icon-v5-kegouxuan1:before {
  content: "\e6cb";
}

.icon-v5-kegouxuan:before {
  content: "\e639";
}

.icon-v5-jieruguanli:before {
  content: "\e650";
}

.icon-v5-weichuli:before {
  content: "\e638";
}

.icon-v5-yonghu:before {
  content: "\e8c8";
}

.icon-v5-notice:before {
  content: "\e6a3";
}

.icon-v5-job:before {
  content: "\e632";
}

.icon-v5-yichuli:before {
  content: "\ea83";
}

.icon-v5-shebeixinxi:before {
  content: "\e692";
}

.icon-v5-baojingjingbaoyujing:before {
  content: "\e634";
}

.icon-v5-xunjian:before {
  content: "\e635";
}

.icon-v5-routine:before {
  content: "\e636";
}

.icon-v5-xianlu1:before {
  content: "\e737";
}

.icon-v5-guzhang:before {
  content: "\e637";
}

.icon-v5-bianji:before {
  content: "\e631";
}

.icon-v5-changyonggoupiaorenshanchu:before {
  content: "\e645";
}

.icon-v5-caidan-zhankai:before {
  content: "\e62c";
}

.icon-v5-duanlubaojing:before {
  content: "\e60d";
}

.icon-v5-fenhezhajingshi:before {
  content: "\e60e";
}

.icon-v5-guoqianya:before {
  content: "\e60f";
}

.icon-v5-fuzai:before {
  content: "\e610";
}

.icon-v5-kongzhirenwuqingdan:before {
  content: "\e611";
}

.icon-v5-guoliuguozai:before {
  content: "\e612";
}

.icon-v5-dingshipeizhi:before {
  content: "\e613";
}

.icon-v5-changjing:before {
  content: "\e614";
}

.icon-v5-shebeiliebiaoyukongzhi:before {
  content: "\e615";
}

.icon-v5-loudianliu:before {
  content: "\e616";
}

.icon-v5-loubaozijian:before {
  content: "\e617";
}

.icon-v5-liandongpeizhi:before {
  content: "\e618";
}

.icon-v5-loudianbaojing:before {
  content: "\e619";
}

.icon-v5-quanbubaojing:before {
  content: "\e61a";
}

.icon-v5-wendubaojing:before {
  content: "\e61c";
}

.icon-v5-shebeigaikuang:before {
  content: "\e61d";
}

.icon-v5-gongdanguanli:before {
  content: "\e61e";
}

.icon-v5-wendu1:before {
  content: "\e61f";
}

.icon-v5-dianhubaojing:before {
  content: "\e620";
}

.icon-v5-dianliang:before {
  content: "\e621";
}

.icon-v5-fenzuguanli:before {
  content: "\e623";
}

.icon-v5-sanxiangbaojing:before {
  content: "\e624";
}

.icon-v5-jingweidingshi:before {
  content: "\e625";
}

.icon-v5-piliangpeizhi:before {
  content: "\e626";
}

.icon-v5-yichangzhuangtaijiancepeizhi:before {
  content: "\e628";
}

.icon-v5-tuoputu:before {
  content: "\e629";
}

.icon-v5-yichangzhuangtai:before {
  content: "\e62a";
}

.icon-v5-tongji:before {
  content: "\e62b";
}

.icon-v5-open:before {
  content: "\e662";
}

.icon-v5-s-operation:before {
  content: "\e678";
}

.icon-v5-a-guijixianlulujing:before {
  content: "\e60c";
}

.icon-v5-dingwei:before {
  content: "\e60b";
}

.icon-v5-simqia:before {
  content: "\e647";
}

.icon-v5-qushi:before {
  content: "\e661";
}

.icon-v5-xianlu:before {
  content: "\e67e";
}

.icon-v5-add:before {
  content: "\e742";
}

.icon-v5-shouye:before {
  content: "\e607";
}

.icon-v5-daping:before {
  content: "\e608";
}

.icon-v5-jieneng:before {
  content: "\e609";
}

.icon-v5-zongheguankong:before {
  content: "\e605";
}

.icon-v5-anquanjianguan:before {
  content: "\e606";
}

.icon-v5-xiaoxiguanli-quanbux:before {
  content: "\e71d";
}

.icon-v5-shandian:before {
  content: "\e8b6";
}

.icon-v5-dianya:before {
  content: "\e665";
}

.icon-v5-yangan:before {
  content: "\e630";
}

.icon-v5-AApay:before {
  content: "\e674";
}

.icon-v5-wendu:before {
  content: "\e79f";
}

.icon-v5-guanlianduankai:before {
  content: "\e724";
}

.icon-v5-chaxun:before {
  content: "\e604";
}

.icon-v5-dianji:before {
  content: "\e600";
}

.icon-v5-weixiubanshou:before {
  content: "\e715";
}

.icon-v5-yiqianshou:before {
  content: "\e6af";
}

.icon-v5-jinzhi:before {
  content: "\e60a";
}

.icon-v5-zhongzhi:before {
  content: "\e633";
}

.icon-v5-suoding:before {
  content: "\e62d";
}

.icon-v5-unlock:before {
  content: "\e627";
}

.icon-v5-shuaxin:before {
  content: "\e8b9";
}

.icon-v5-menu:before {
  content: "\e62e";
}

.icon-v5-lixian:before {
  content: "\e603";
}

.icon-v5-hezha:before {
  content: "\e601";
}

.icon-v5-fenzha:before {
  content: "\e602";
}

.icon-v5-xiaoxi:before {
  content: "\e62f";
}

.icon-v5-sousuo:before {
  content: "\e622";
}

.icon-v5-xitongshezhiguanliqitashezhi:before {
  content: "\e61b";
}

.icon-v5-shengyinjingyin:before {
  content: "\eca9";
}

.icon-v5-shengyin:before {
  content: "\e8b8";
}

